assets/
tlauncher_libraries/
journeymap/
runtime/
logs/
crash-reports/
saves/
bin/
screenshots/
schematics/
webcache2/
script/
schematics/
CustomSkinLoader/
versions/*
!versions/1.18.2-forge-40.2.14/
launcher_log.txt
launcher_log0.txt
launcher_log1.txt
launcher_log2.txt
launcher_log3.txt
launcher_log4.txt
launcher_log5.txt
launcher_log6.txt
launcher_log7.txt
launcher_log8.txt
launcher_log9.txt
usercache.json
usernamecache.json
launcher_msa_credentials_microsoft_store.bin
TempOptifineStore-1.0.json
TLauncher.exe
TlauncherProfiles.json
updateLog.txt
worlds.json
libraries/minecraft.ico
libraries/tlicon.ico
libraries/de/oceanlabs/mcp/mcp_config/1.18.2-20220404.173914/mcp_config-1.18.2-20220404.173914-mappings.txt
libraries/de/oceanlabs/mcp/mcp_config/1.18.2-20220404.173914/mcp_config-1.18.2-20220404.173914-mappings-merged.txt
libraries/net/minecraft/client/1.18.2-20220404.173914/client-1.18.2-20220404.173914-extra.jar.cache
libraries/net/minecraft/client/1.18.2-20220404.173914/client-1.18.2-20220404.173914-mappings.txt
libraries/net/minecraft/client/1.18.2-20220404.173914/client-1.18.2-20220404.173914-slim.jar.cache
libraries/org/tlauncher/authlib/3.3.392/authlib-3.3.392.jar
libraries/org/tlauncher/patchy/2.2.10/patchy-2.2.10.jar
resourcepacks/icxindustrialcontraptions.zip
shaderpacks/MakeUp-UltraFast-8.8.g.zip
